.banner {
  position: relative;
  min-height: 1104px;
  color: #ffffff;
  white-space: pre-wrap;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .backgroundContainer {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    animation: zoomIn 4s ease 0s 1 normal forwards;

    > img {
      object-fit: cover;
    }
  }

  .title {
    font-weight: 800;
    font-size: 96px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 32px;

    .textBlock {
      display: inline-block;
    }

    .letter {
      position: relative;
      display: inline-block;
      opacity: 1;
      clip-path: polygon(50% 0%, 50% 50%, 0% 50%, 0% 0%, 0% 0%, 0% 50%, 0% 50%, 0% 100%, 0% 100%, 0% 50%, 50% 50%, 50% 0%);
    }
  }

  .subtitle {
    position: relative;
    opacity: 0;
    font-size: 30px;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  }

  button {
    margin-top: 80px;
    padding: 18px 64px;
  }

  @media (min-width: 768px) {
    .title {
      font-size: 160px;
    }
  }
}

@keyframes checkerboard {
  0% {
    clip-path: polygon(50% 0%, 50% 50%, 0% 50%, 0% 0%, 0% 0%, 0% 50%, 0% 50%, 0% 100%, 0% 100%, 0% 50%, 50% 50%, 50% 0%);
  }
  50% {
    clip-path: polygon(50% 0%, 50% 50%, 0% 50%, 0% 0%, 0% 0%, 0% 50%, 0% 50%, 0% 100%, 50% 100%, 50% 50%, 100% 50%, 100% 0%);
  }
  99% {
    clip-path: polygon(50% 0%, 50% 50%, 0% 50%, 0% 0%, 50% 0%, 50% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 50%, 100% 0%);
  }
  100% {
    clip-path: none;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    top: 20px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
